.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #252525;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #f5a528;
}

p {
  font-size: 2rem;
  color: #f5a528;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #E5e5e5;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.playagain {
  text-align: center;
  padding-top: 5%;
}
.link {
  width: 100px;
  height: 30px;
  background-color: #f5a528;
  color: #252525;
  text-align: center;
  border-style: none;
}
